.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.npz
*.ipynb
*.png
!docs/_static/*.png
.coverage
*.xml
.pytc 
.tchint/
.venv/
doc/
docs/_build/
docs/api/generated/
*egg-info/
build/
tmp*
*.log
__pycache__/


calcs
*.hdf5
*.h5

*.vscode/
*.venv/

